.main-user-container {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  @include for-normal-layout {
    grid-template-columns:
      minmax(20px, 1fr)
      minmax(auto, $narrow-breakpoint)
      minmax(20px, 1fr);
  }
}

.mt50 {
  margin-top: rem(50px);
  padding-top: rem(20px);
  border-top: 1px solid #2222;
}

.persinal-info {
  // height: rem(400px);
  // padding-left: rem(50px);
  // padding-top: rem(80px);
  justify-items: center;
}
.profile-pic {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}

.dashbord-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 70px 70px 70px 70px;
  -moz-border-radius: 70px 70px 70px 70px;
  -webkit-border-radius: 70px 70px 70px 70px;
  border: 8px solid #000000;
  background-color: #71c468;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 50px;
  color: $clr1;
}

.main-info-container {
  margin-bottom: rem(50px);
}

.user-activity-preview {
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333333;
  margin-bottom: 0.4rem;
  & img {
    width: rem(100px);
  }
}


.timetable {
  border:1px solid #333333;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 60px repeat(7, 40px);
  grid-template-rows: repeat(12, 30px);
}

.titleWrapper {
  font-weight: 600;
  background-color: $clr3;
  margin: 0;
  padding: 0;
  display: grid;
  grid-column: 1 / 9;
  grid-gap: 4px;
  grid-template-columns: 60px repeat(7, 40px);
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  justify-items: center;
}

.timeWrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-row: 2 / 14;
  grid-gap: 4px;
  grid-template-rows: repeat(12, 30px);
}

.main-info-table{
   margin: 0;
  padding: 0;
  display: grid;
  grid-row: 2 / 14;
  grid-gap: 4px;
  grid-template-rows: repeat(12, 30px);
}

.yellow{
  background-color: rgba(214, 214, 59, 0.712);
  
}