.article_a {
    padding: 50px;
    color: #ffffff;
    width: 42%;
    height: 300px;
    border-radius: 35px;
    background-image: url(../img/a.jpg);
}

.article_b {
    padding: 50px;
    color: #ffffff;
    width: 55%;
    height: 300px;
    border-radius: 30px;
    background-color: rgb(247, 231, 214);
    background-image: url(../img/b.jpg);
}

.article_c {
    padding: 50px;
    color: #ffffff;
    width: 55%;
    height: 300px;
    border-radius: 30px;
    background-color: rgb(214, 247, 217);
    background-image: url(../img/c.jpg);
}

.article_d {
    padding: 50px;
    color: #ffffff;
    width: 42%;
    height: 300px;
    border-radius: 35px;
    background-image: url(../img/d.jpg);
}

.articles-row {
    
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}