.col-center-middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.in-line {
    display: inline;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.just-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.marg-top-50 {
    margin-top: 50px;
}

.text-mid-left {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.marg-5 {
    margin: 5px;
}