.main-header {
    height: 80px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #f4f4f4; */
    filter: drop-shadow(0px 0px 10px #f0f0f0);
    /* margin-bottom: 30px; */

}

.header-search {
    width: 28%;
    height: 47px;
    background-color: #ffffff;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DCDCDC;
}

.header-search .search-btn {
    height: 30px;
    width: 40px;
}

.right-end {
    display: flex;
    align-items: center;
}

.right-end :last-child {
    margin: 10px;
}

.left-end {
    display: flex;
    align-items: center;
}

.left-end :last-child {
    margin: 10px;
}