@import "jumbo.css";
@import "suggested.css";
@import "event.css";
@import "main-header.css";
@import "form-edit.css";
@import "layout.css";
@import "activity-container.css";
@import "profile.css";
@import "ui.css";
@import "articles.css";
@import "dashboard.css";


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

button {
    outline: none;
    cursor: pointer;
}

/* helpers */

.green{
    color:#43c155;
    display: inline;
}

/* flex */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

/* list */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}