.rate-display {
    width: 100%;
    box-align: left;
    font-size: 0.8rem;
    /* padding-bottom: 8px; */
}

.inline {
    display: inline;
}

.i {
    display: inline;
}


.add-20 {
    height: 20px;
}