// Colors
// $clr1: #ce2e6c;
// $clr2: #4f3a65;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;

//option 2:
$clr1: #f6f6f6;
$clr2: #323232;
$clr3: #a7d129;
$clr4: #616f39;
$clr5: #3e432e;
$clr6: #4c4c4c;
$clr7: #2222;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;